button {
	outline: none !important;
	border: none;
	background: transparent;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}



.background {
  width: 100%;  
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  background: #cdf07a;
  background: -webkit-linear-gradient(-135deg, #cdf07a, #4158d0);
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 150px 130px 150px 95px;
}



.logo {
  width: 316px;
}

.logo img {
  max-width: 100%;
}


.login_form {
  width: 290px;
}

.title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.input_username {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 0px 0 30px;
  outline: none;
	border: none;
}



.container_login_button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login_button {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
